@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Request Manager done for the internship in AgileWorks. Please click <a href="http://127.0.0.1:5191/Request/RequestView/1">here</a>  or select Requests from top left to continue to core functionality.</p>
</div>
